<!DOCTYPE html>
<html lang="en" ng-app="Cartoons">

<head>
    <meta charset="UTF-8">
    <title>Cartoon Network</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="CartoonController">
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="text" ng-model="title" placeholder="Title">
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" ng-model="description" placeholder="Description">
                </div>
                <div class="col-md-4">
                    <input class="form-control" type="text" ng-model="image" placeholder="Image URL">
                </div>
            </div>
            <div class="row">
                <button class="center-block" ng-click="updateCartoon()">Submit</button>
            </div>
        </div>
    </header>
    <div class="container">
        <div class="row">
            <div ng-repeat="item in cartoonList" class="output text-center">
                <h1> {{ item.title }} </h1>
                <br>
                <p> {{ item.description }} </p>
                <br>
                <img ng-src="{{ item.url }}"></img>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="app.js"></script>
</body>

</html>