<!DOCTYPE html>
<html lang="en" ng-app="MovieSearch">

<head>
    <meta charset="UTF-8">
    <title>Movie Search</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-controller="MainController">

    <!--   header-->
    <div class="row">
        <div class="col-xs-12 header">
            <h1 class="app-title text-center">Movie Search</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <!--           title search-->
            <div class="col-md-4 input">
                <input class="form-control" type="text" ng-model="title" placeholder="Enter a movie title or keyword">
            </div>
            <!--            select box-->
            <div class="col-md-4 input">
                <select class="form-control" ng-model="type">
                    <option value="">Select One</option>
                    <option value="movie">Movie</option>
                    <option value="series">Series</option>
                    <option value="episode">Episode</option>
                </select>
            </div>
            <!--            year search-->
            <div class="col-md-4 input">
                <input class="form-control" type="text" ng-model="year" placeholder="Search year released">
            </div>
            <!--            search button-->
            <div class="row">
                <button class="btn btn-warning center-block" ng-click="search(title)">SEARCH</button>
            </div>

            <!--           display-->
            <div class="row">
                <div class="col-md-6" ng-repeat="movies in searchResults">
                    <h1 class="movie-title">Title: {{movies.Title}}</h1>
                    <h2 class="other-info">Type: {{movies.Type}}</h2>
                    <h2 class="other-info">Year: {{movies.Year}}</h2>
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.js"></script>
    <script src="app.js"></script>
</body>

</html>

<!--

    <div class="container">
        <div class="row">
            <div class="col-md-12 center-block">
               <h1 class="text-center movie-search">Movie Search</h1>
                <input ng-model="titleSearch" class="center-block input-box" placeholder="Enter movie title or keyword">
                <button class="center-block search-button" class="btn" ng-click="search()">SEARCH</button>
            </div>
        </div>
    </div>
-->


<!--
        <div class="container">
            <div class="row">
                <div class="col-md-4" ng-repeat="movies in searchResults track by $index">
                
                    <h1 class="movie-title">{{movies.Title}}</h1>
                    <h2 class="movie-type">Type: {{movies.Type}}</h2>
                    <h2 class="movie-year">Year: {{movies.Year}}</h2>
                    <img class="poster" ng-src="{{movies.Poster}}">
                    <button class="btn btn-info add-button" ng-click="addFavorite($index)">Add To Favorites</button>
                    <p class="added">{{movies.added}}</p>-->