<main>
    <h1 class="text-center facts-title">
       Your dog is even more amazing than you realized...
   </h1>
    <hr>
    <h2 class="text-center facts-title-two">Scroll to learn some interesting facts about dogs</h2>


    <!--   image one-->
    <div class="cd-fixed-bg cd-bg-1"></div>

    <div class="cd-container">
        <p class="text-center fact">
            Dogs’ eyes contain a special membrane, called the tapetum lucidum, which allows them to see in the dark. Source: Healthy Pet
        </p>
    </div>

    <!--        image two-->
    <div class="cd-fixed-bg cd-bg-2"></div>

    <div class="cd-container">
        <p class="text-center fact">
            If never spayed or neutered, a female dog, her mate, and their puppies could produce over 66,000 dogs in 6 years!
            <br> **SPAY AND NEUTER YOUR PETS**
        </p>
    </div>
    </div>

    <!--   image three-->
    <div class="cd-fixed-bg cd-bg-3"></div>

    <div class="cd-container">
        <p class="text-center fact">
            A large breed dog’s resting heart beats between 60 and 100 times per minute, and a small dog breed’s heart beats between 100-140. Comparatively, a resting human heart beats 60-100 times per minute. Sources: About.com and Mayo Clinic
        </p>
    </div>

    <!--       image four-->
    <div class="cd-fixed-bg cd-bg-4"></div>

    <div class="cd-container">
        <p class="text-center fact">
            Unlike humans who sweat everywhere, dogs only sweat through the pads of their feet. Source: Healthy Pet
        </p>
    </div>

    <!--       image five-->
    <div class="cd-fixed-bg cd-bg-5"></div>

    <div class="cd-container">
        <p class="text-center fact">
            Dogs have three eyelids, an upper lid, a lower lid and the third lid, called a nictitating membrane or “haw,” which helps keep the eye moist and protected. Source: Whole Dog Journal
        </p>
    </div>

    <!--       image six-->
    <div class="cd-fixed-bg cd-bg-6"></div>

    <div class="cd-container">
        <p class="text-center fact">
            62% of U.S. households own a pet, which equates to 72.9 million homes Source: American Pet Products Association
        </p>
    </div>

    <!--       image seven-->
    <div class="cd-fixed-bg cd-bg-7"></div>

    <div class="cd-container">
        <p class="text-center fact">
            According to a Petside.com/Associated Press poll, 72% of dog owners believe their dog can detect when stormy weather is on the way.
        </p>
    </div>

    <!--       image eight-->
    <div class="cd-fixed-bg cd-bg-8"></div>

    <div class="cd-container">
        <p class="text-center fact">
            Dogs’ noses secrete a thin layer of mucous that helps them absorb scent. They then lick their noses to sample the scent through their mouth. Source: Vetstreet
        </p>
    </div>

    <!--       image nine-->
    <div class="cd-fixed-bg cd-bg-9"></div>

    <div class="cd-container">
        <p class="text-center fact">
            Dogs have about 1,700 taste buds. Humans have approximately 9,000 and cats have around 473. Source: Psychology Today
        </p>
    </div>

    <!--       image ten-->
    <div class="cd-fixed-bg cd-bg-10"></div>

    <div class="cd-container">
        <p class="text-center fact">
            A Dog’s sense of smell is 10,000 – 100,000 times more acute as that of humans. Source: PBS
        </p>
    </div>

    <!--       image eleven-->
    <div class="cd-fixed-bg cd-bg-11"></div>

    <div class="cd-container">
        <p class="text-center fact">
            It’s a myth that dogs only see in black and white. In fact, it’s believed that dogs see primarily in blue, greenish-yellow, yellow and various shades of gray. Source: About.com
        </p>
    </div>

    <!--       image twelve-->
    <div class="cd-fixed-bg cd-bg-12"></div>

    <div class="cd-container">
        <p class="text-center fact">
            Sound frequency is measured in Hertz (Hz). The higher the Hertz, the higher-pitched the sound. Dogs hear best at 8,000 Hz, while humans hear best at around 2,000 Hz. Source: Whole Dog Journal
        </p>
    </div>

    <!--       image thirteen-->
    <div class="cd-fixed-bg cd-bg-13"></div>

    <div class="cd-container">
        <p class="text-center fact">
            Dogs’ ears are extremely expressive. It’s no wonder! There are more than a dozen separate muscles that control a dog’s ear movements. Source: Whole Dog Journal
        </p>
    </div>

    <!--       image fourteen-->
    <div class="cd-fixed-bg cd-bg-14"></div>

    <div class="cd-container">
        <p class="text-center fact">
            Dogs curl up in a ball when they sleep due to an age-old instinct to keep themselves warm and protect their abdomen and vital organs from predators. Source: Vetstreet
        </p>
    </div>

    <!--       image fifteen-->
    <div class="cd-fixed-bg cd-bg-15"></div>

    <div class="cd-container">
        <p class="text-center fact">
            When dogs kick after going to the bathroom, they are using the scent glands on their paws to further mark their territory. Source: Healthy Pet
        </p>
    </div>

</main>