<h1 class="text-center learn-more">Want to learn more about adoption?</h1>
<h2 class="text-center learn-more-two">Check out these websites:</h2>
<hr>


<div class="container">
    <div class="row">
        <a class="col-md-4" href="http://www.humanesociety.org" target="_blank">
            <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/5/5f/HSUS_logo.svg/1280px-HSUS_logo.svg.png">
        </a>
        <a class="col-md-4" href="http://www.bestfriends.org" target="_blank">
            <img class="img-responsive" src="http://blog.ndp-agency.com/storage/Best%20Friends%20dog%20for%20april%202010.jpeg?__SQUARESPACE_CACHEVERSION=1271172477560">
        </a>
        <a class="col-md-4" href="http://www.petfinder.com" target="_blank">
            <img class="img-responsive" src="http://anjelliclecats.homestead.com/petfinder.jpg">
        </a>
    </div>
</div>