<h1 class="text-center adopt-title">Looking to adopt a pet? You've come to the right place...</h1>
<hr>
<div class="container">
    <div class="row">
        <h2 class="why-adopt">WHY CHOOSE ADOPTION? HERE ARE FIVE REASONS: </h2>
    </div>
    <hr>

    <div class="row">
        <img class="col-md-4 center-block img-responsive" src="maui.jpg">
        <p class="col-md-4 adoption">
            <b>REASON #1:</b> You'll save a life: 2.7 million adoptable dogs and cats are euthanized each year in the United States, simply because too many pets come into shelters and too few people adopt. When you adopt, you save your animal and open up shelter space for another animal who might need it.
        </p>
        <p class="col-md-4 adoption-two">
            <b>REASON #2:</b> You'll get a great animal: Animal shelters and rescue groups are brimming with happy, healthy pets just waiting for someone to take them home. Most shelter pets ended up there because of a human problem like a move or a divorce, not because the animal did anything wrong.
        </p>

    </div>
    <hr>

    <div class="row">
        <p class="col-md-4 adoption">
            <b>REASON #3:</b> You'll save money: When you adopt a pet, the cost of spay/neuter, first vaccinations and sometimes microchipping is usually included in the adoption price.
        </p>
        <p class="adoption-two">
            <b>REASON #4:</b> You can help fight puppy mills: Puppy mills are "factory style" breeding facilities that put profit above the welfare of dogs. Animals from puppy mills are housed in shockingly poor conditions with improper medical care, and are often very sick and behaviorally troubled as a result. The moms of the puppies are kept in cages to be bred over and over for years, without human companionship and with little hope of ever joining a family. And after they're no longer profitable, breeding dogs are simply discarded—either killed, abandoned or sold at auction. Most puppies in pet stores and sold online come from puppy mills. The dogs are sold to unsuspecting consumers in pet stores, over the Internet and through classified ads. Puppy mills will continue to operate until people stop supporting them. By adopting a pet, you can be certain you aren't giving them a dime.
        </p>
    </div>
    <hr>

    <div class="row">
        <p class="col-md-8 adoption">
            <b>REASON #5:</b> You'll change a homeless pet's entire world: What could be better than that?
            <br>
            <img class="cat-photo" src="https://im1.shutterfly.com/media/47a3d828b3127ccef30705dd20fe00000050O02DcuGLlw1B7efCg/cC/f%3D0/ls%3D00500891890020130609163846025.JPG/ps%3D50/r%3D0/rx%3D550/ry%3D400/">
            <img class="cat-photo" src="https://im1.shutterfly.com/media/47a4da01b3127ccef5bd2e97871f00000030O02DcuGLlw1B7efCg/cC/f%3D0/ls%3D00500891890020140420182041973.JPG/ps%3D50/r%3D0/rx%3D550/ry%3D400/">
        </p>
        <img class="col-md-4 center-block img-responsive" src="mauiandoggy.jpg" alt="">
    </div>
    <div class="row">
        <p>Source <a href="http://www.humanesociety.org" target="_blank">The Humane Society of the United States</a></p>
    </div>

</div>